.tracker--div{
  display: inline-block;
  height: 150px;
  width: 40%;
  border-radius: 5px;
  text-align: center;
 margin-left: 50px;
 border: 2px solid rgb(163, 163, 163);
}

.history--card--green{
  width: 100%;
  height: 50px;
  margin: 0 auto;
  padding-top: 30px;
  display: inline-block;
  border-right: 5px solid green;
  background-color: rgb(233, 233, 233);
  box-shadow: 2px 2px rgb(167, 167, 167);
  margin-top: 3px;
}

.history--card--red{
  width: 100%;
  height: 50px;
  margin: 0 auto;
  padding-top: 30px;
  display: inline-block;
  border-right: 5px solid red;
  background-color: rgb(233, 233, 233);
  box-shadow: 2px 2px rgb(167, 167, 167);
  margin-top: 3px;
}


.transaction--cash{
  width: 20%;
  display: inline-block;
  text-align: right;

  height: 100%;
  padding-right:20px ;
  font-size: x-large;
}



.transaction--name{
  font-size: x-large;
  width: 70%;
  display: inline-block;
  text-align: left;
 
  height: 100%;
  padding-left:20px ;
}